# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Ignore override files as they are usually used to override resources locally and not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore any crash log files
crash.log

# Ignore provider credentials files
*.pem
*.p12

# Ignore sensitive information
*.tfvars
*.tfvars.json

# Ignore local tfstate backups
*.tfbackup

# Ignore .terraform.lock.hcl files (used with Terraform v0.15+)
.terraform.lock.hcl

# Ignore Visual Studio Code settings
.vscode/

# ZIP file created by Terraform code
*.zip
